.navbar {
    position: relative;
    background-color: #333;
    top: 0;
    width: 100%;
    color: white;
    padding: 0.5em 15%;

    z-index: 0;
    display: flex;
    justify-content: space-between;
}